<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email</title>
  <style>

    .validation-button, .deletion-button {
      margin: 10px;
      color: white;
      border: none;
      padding: 10px;
    }

    .validation-button {
      background-color: deepskyblue;
    }

    .deletion-button {
      background-color: indianred;
    }

    button {
      ba: red;
    }

    .button-container {
      margin: 10px;
    }

    .text-bold {
      font-weight: bold;
    }
  </style>
</head>
<body>
<div>
  <div>
    <p>Bonjour <span>an username</span>,</p>
    <p>Voici le résumé de votre annonce Anti Gaspi</p>
  </div>
  <div>
    <p>Titre : <span class="text-bold">a title</span></p>
    <p>Adresse : <span class="text-bold">an address</span></p>
    <p>Description : <span>a description</span></p>
  </div>

  <div>
    <p>Votre annonce sera disponible du : <span class="text-bold">01/01/01</span> au <span
            class="text-bold">02/02/02</span></p>
  </div>

  <div class="button-container">
    <a href="http://validation.com">
      <button type="button" class="validation-button">Valider l'annonce</button>
    </a>
    <a href="">
      <button type="button" class="deletion-button">Supprimer l'annonce</button>
    </a>
  </div>

  <div>
    <p>Cordialement,</p>
    <p>L'équipe Anti Gaspi</p>
  </div>
</div>

</body>
</html>